@font-face {
    font-family: 'Haroopath';
    src: url(assets/fonts/Haroopath.otf);
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url(assets/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'Raleway-Light-Italic';
    src: url(assets/fonts/Raleway-Light-Italic.ttf);
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(assets/fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url(assets/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Raleway-Regular-Italic';
    src: url(assets/fonts/Raleway-Regular-Italic.ttf);
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url(assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url(assets/fonts/Raleway-SemiBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Raleway-Medium';
}


html {
    box-sizing: border-box;
}

h2 {
    font-family: 'Raleway-Regular';
    font-size: 2.3rem;
    letter-spacing: 5px;
    font-weight: 500;
    color: #ff7d96;
    margin-bottom: 2.9rem;
}

h2 strong {
    font-family: 'Raleway-Bold';
    font-size: 2.1rem;
    color: #ff7d96;
}

p {
    font-family: 'Raleway-Regular-Italic';
    color: #ff7d96;
}

.underline {
    border-bottom: solid 3px #ff7d96;
    margin: 1.5em auto;
    width: 50px;
}

/* SECTION 1 */

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    height: auto;    
}

.s1 {
    position: relative;
    height: 800px;
    display: flex;    
}

.s1 .middle {
    position: absolute;
    left: calc(50% - 140px);
    bottom: 0;
    height: 90%;
}

.s1 .middle img {
    height: 100%;
} 

@media only screen and (max-width: 768px) {
    .s1 .middle img {
    max-height: 70%;
    max-width: 70%;
    bottom: 0;

     }

    .s1 .suscribite {
        display: none;
    }

    .media {
        display: none;
    }
}

.s1 h1 {
    color: white;
    font-family: 'Raleway-Light';
    font-size: 2.3rem;
    letter-spacing: 5px;
    line-height: 1.1;
    font-weight: 500;
    z-index: 1;
    position: relative;
}

h1 strong {
    font-family: 'Raleway-Bold';
    font-size: 2rem;
}

.cursiveOp {
    font-family: 'Haroopath';
    color: #ff7d96;
    font-size: 1.8rem;
    z-index: -1;
    position: absolute;
    bottom: -20px;
    left: -80px;
   
}

.s1 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.s1 .left {
    background-color: #ff5a89;
    flex: 1 1 0;
}

.s1 .right {
    background-color: #ff7d96;
    flex: 1 1 0;
}

.s1 .media {
    position: absolute;
    top: 5%;
    right: 3%;
   
}

.s1 .suscribite {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index:2;
    
}


/* SECTION 2 */

.s2 .slide1, .slide2, .slide3  {    
    display: flex;    
    flex-direction: row; 
    flex-wrap: wrap;
    height: 800px;           
}

/* SLIDE 1 */

.slide1 > div {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    
}

.s2 .slide1 .left {
    background-color: #ff7d96;
    flex: 1 1 50%;    
}

.s2 .slide1 .right {
    background-color: white;
    flex: 1 1 50%;
}

.s2 .slide1 .left img {    
    max-width: 70%;
    position: absolute; 
    left: .1px;
} 

/* SLIDE 2 */

.slide2 > div {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    
}

.s2 .slide2 .left {
    background-color: #ff7d96;
    flex: 1 1 0;    
    margin-left: -1%;
}

.s2 .slide2 .right {
    background-color: white;
    flex: 1 1 0;    
}

.s2 .slide2 .left img {    
   max-width: 50%;
   position: absolute; 
   left: 4%; 
} 

/* SLIDE 3 */

    .s2 .slide3 {
    display: flex;
    flex-direction: row;    
    height: auto;
    }


.slide3 > div {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    
}

.s2 .slide3 .left {
    background-color: #ff7d96;
    flex: 1 1 0;    
    margin-left: -1%;
}

.s2 .slide3 .right {
    background-color: white;
    flex: 1 1 0;
    margin: auto;
}

.outfits2  {      
    position: relative;
    margin-left: 20%;
    height: 100%;
    padding-bottom: 10%;
    
    
} 
                        
/* SECTION 3 */
            
/* SLIDE 1 */  

.s3 .slide1  {
    height: 800px;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s3 .slide1 .left {
    flex: 1 1 0;    
}

.s3 .slide1 .left img {
    margin-top: 4rem;  
}


.s3 .slide1 .right {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;    

}

@media only screen and (max-width: 768px) {
    .s3 .slide1 .right img {
        width: 200px;
    }
}
        
/* SLIDE 2 */

.s3 .slide2  {
    height: 800px;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s3 .slide2 .left {
    flex: 1 1 0;    
}

.s3 .slide2 .left img {
    margin-top: 4rem;  
}


.s3 .slide2 .right {
    flex: 1 1 0;
    display: flex;
    flex-direction: row; 
}

@media only screen and (max-width: 768px) {
    .s3 .slide2 .right img {
        width: 200px;
    }
}

/* SLIDE 3 */

.s3 .slide3  {
    height: 800px;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s3 .slide3 .left {
    flex: 1 1 0;    
}

.s3 .slide3 .left img {
    margin-top: 4rem;  
}


.s3 .slide3 .right {
    flex: 1 1 0;
    display: flex;
    flex-direction: row; 
}

@media only screen and (max-width: 768px) {
    .s3 .slide3 .right img {
        width: 200px;
    }
}

/* SECTION 4 */


@media only screen and (max-width: 768px) {
    .s4 {
        flex-direction: column-reverse;
    }
}

.s4  {    
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    height: 800px;   
          
}   

/* SLIDE 1 */

.s4 .info {
    background-color: #ff7d96;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    height: 100%;
}

.s4 .last-slider {
    background-color: white;
    display: flex;
    flex-direction: row;    
    height: 800px;  
    flex: 1 1 0;    
    
}                          

.newsletter {
    background-color: #C5EFF7;
    flex: 1 1 70%;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
}
    /* FORM */

form {   
    display: flex;
    flex-direction: column;     
    width: 40%;     
}

input {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 0;
    font-family:'Raleway-Regular';
    letter-spacing: .1rem;
    color: #ff7d96;
       
}

::placeholder {
  color: #ff7d96;
  font-size: .8rem;
}

input[type=submit] {
    background-color: #ff5a89;
    color: white;
    font-family: 'Raleway-Bold';
    width: 35%;
    border-radius: 10px;
    align-self: center;
    position: relative;  
  
}

.sets {
    flex: 1 1 30%;    
}

h5 {
    font-family: 'Raleway-Medium';
    letter-spacing: .2rem;
    font-weight: 400;
    color: #ff7d96;
    line-height: 1.5rem;
    margin: 1.5rem;
}

h5 strong {
    font-family: 'Raleway-Bold';
}

h6 {
    font-family: 'Raleway-Light';
    font-weight: 400;
    color: white;
    margin: 2rem;
    letter-spacing: .1rem;
    line-height: 1.5rem;
}
     

.last-slider img {
    width: 100%;
    height: 800px;
    z-index: -1;
}

/* EFFECTS */

/* Grow */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.5);
}


/* Pulse Grow */

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}