@font-face {
    font-family: 'Haroopath';
    src: url(assets/fonts/Haroopath.otf);
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url(assets/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'Raleway-Light-Italic';
    src: url(assets/fonts/Raleway-Light-Italic.ttf);
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(assets/fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url(assets/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Raleway-Regular-Italic';
    src: url(assets/fonts/Raleway-Regular-Italic.ttf);
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url(assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url(assets/fonts/Raleway-SemiBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Raleway-Medium';
}

html {
    box-sizing: border-box;
}

h2 {
    font-family: 'Raleway-Regular';
    font-size: 2.3rem;
    letter-spacing: 5px;
    font-weight: 400;
    color: #ff7d96;
    margin-bottom: 2.9rem;
}

h2 strong {
    font-family: 'Raleway-Bold';
    font-size: 2.1rem;
    color: #ff7d96;
}

p {
    font-family: 'Raleway-Regular-Italic';
    color: #ff7d96;
    font-size: 1.2rem;
}

.underline {
    border-bottom: solid 3px #ff7d96;
    margin: 1.5em auto;
    width: 50px;
}

/* SECTION 1 */

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    height: auto;
}

.s1 {
    position: relative;
    height: 800px;
    display: flex;
    display: -ms-flexbox;
}

.s1 .middle {
    position: absolute;
    left: calc(50% - 140px);
    bottom: 0;
    height: 90%;
}

.s1 .middle img {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .s1 .middle img {
        max-height: 70%;
        max-width: 90%;
    }

    .s1 .suscribite {
        display: none;
    }

    .media {
        display: none;
    }

    .s1 .middle {
        bottom: -10%;
    }
}

.s1 h1 {
    color: white;
    font-family: 'Raleway-Light';
    font-size: 2.3rem;
    letter-spacing: 5px;
    line-height: 1.1;
    font-weight: 500;
    z-index: 1;
    position: relative;
}

h1 strong {
    font-family: 'Raleway-Bold';
    font-size: 2rem;
}

.cursiveOp {
    font-family: 'Haroopath';
    color: #ff7d96;
    font-size: 1.8rem;
    z-index: -1;
    position: absolute;
    bottom: -20px;
    left: -80px;
}

.s1 > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.s1 .left {
    background-color: #ff5a89;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
}

.s1 .right {
    background-color: #ff7d96;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
}

.s1 .media {
    position: absolute;
    top: 5%;
    right: 3%;
}

.s1 .suscribite {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
}

/* SECTION 2 */

.s2 .slide1,
.slide2,
.slide3 {
    height: 800px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.s2 .left {
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    background-color: #ff7d96;
}

.s2 .right {
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    background-color: white;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.texts2 .underline {
    align-self: flex-start;
}

.s2 .left img {
    position: relative;
    left: 5%;
    top: 5%;
}

@media only screen and (max-width: 768px) {

    .s2 .slide1,
    .s2 .slide2,
    .s2 .slide3 {        
        flex-direction: column-reverse;
    }
    .s2 h2,
    .s2 strong {
        font-size: 28px;
        margin: 2% auto;
    }
    .s2 p {
        font-size: 22px;
    }

    .s2 .texts2 {
        margin: 5% auto;
    }
}

/* SECTION 3 */

.s3 {
    height: 800px;
    background-color: #f2f2f2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.s3 .left {
    -ms-flex: 2 1 30%;
    flex: 2 1 30%;
    margin-left: 10%;
    margin-top: 10%;
}

.s3 .right {
    -ms-flex: 1 1 70%;
    flex: 1 2 70%;
}

.s3 .right img {
    height: 80%;
    width: 80%;
    object-fit: cover;
    object-position: 10% 10%;
}

.s3 .underline {
    margin-left: 100px;
}

.s3 .right .images3 {
    width: 60%;
    position: relative;
    left: 40%;
    bottom: 500px;
}

@media only screen and (max-width: 1368px) {
    .s3 .right img {
        object-fit: fill;
    }
}

@media only screen and (max-width: 768px) {
    .s3 .right img {
        height: auto;
    }

    .s3 .right .images3 {
        position: static;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .s3 h2,
    .s3 strong {
        font-size: 28px;
    }

    .s3 p {
        font-size: 22px;
    }

    .s3 .slide1,
    .s3 .slide2,
    .s3 .slide3 {
        flex-direction: column;
    }
}

/* SECTION 4 */

.s4 {
    height: 800px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

/* SLIDE 1 */

.s4 .info {
    background-color: #ff7d96;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.s4 .last-slider {
    height: 800px;
    background-color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    max-width: 50%;
}

.newsletter {
    background-color: #c5eff7;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
/* FORM */

form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
}

input {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 0;
    font-family: 'Raleway-Regular';
    letter-spacing: 0.1rem;
    color: #ff7d96;
}

:-ms-input-placeholder {
    color: #ff7d96;
    font-size: 0.8rem;
}

::placeholder {
    color: #ff7d96;
    font-size: 0.8rem;
}

input[type='submit'] {
    background-color: #ff5a89;
    color: white;
    font-family: 'Raleway-Bold';
    max-width: 35%;
    border-radius: 10px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: relative;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.sets {
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

h5 {
    font-family: 'Raleway-Medium';
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #ff7d96;
    line-height: 1.5rem;
    margin: 1.5rem;
}

h5 strong {
    font-family: 'Raleway-Bold';
}

h6 {
    font-family: 'Raleway-Light';
    font-weight: 400;
    color: white;
    margin: 2rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}

.last-slider img {
    width: 100%;
    height: 800px;
}

@media only screen and (max-width: 768px) {
    .s4 {
        flex-direction: column-reverse;
        align-items: stretch;
        position: relative;
    }
    .s4 .last-slider {
        width: 100%;
        margin-top: 700px;
    }

    .last-slider img {
        height: 450px;
    }

    .last-slider .owl-carousel .owl-theme {
        width: 100%;
    }

    ::placeholder {
        font-size: 0.5rem;
        letter-spacing: 0;
    }

    input[type='submit'] {
        font-size: 0.5rem;
        letter-spacing: 0;
    }
}



@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .s4.last-slider.owl-carousel {
        width: 50%;
    }
}

/* EFFECTS */

/* Grow */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.5);
}

/* Pulse Grow */

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
